
nav {
    display:flex;
    flex-direction:row;
    justify-content: flex-start

}
p {
    width: 70%;
}
ul {
    display:flex;
    list-style-type: none;
    justify-content: space-evenly;
    width:50%;
}
li {

}
.branding {
    width: 100%;
}
.navbar {
    width:100%;
    display:flex;
    justify-content:space-around;
    background-color:white;
    align-items:center;
    padding-top:1.5%;
    padding-left:2.5%;
    padding-bottom:1.5%;
    border: 1px solid black;
}
.imgFluid {
    width: 15%;
    border-radius:1em;
    display:flex;
    align-items:center;
}

.imageTitle {
    margin-left: 0.5em;
    font-family:'Montserrat';
    text-decoration: none;
    color:black;
}
.navItem {
    text-decoration: none;
    color:black;
    /* hacer que onhover el color sea dq gris */
    font-size:1.4em;
    font-weight: bold;
    font-family: 'Roboto'
}
.navItem:hover {
    color: rgb(99, 99, 99);
}